
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #1E3A8A, #60A5FA);
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 40px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    width: 300px;
    margin-bottom: 30px;
}

input[type="text"] {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #60A5FA;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
    outline: none;
}

button {
    background-color: #FFA500;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FFD700;
}

.error {
    color: #FF6347;
    font-size: 18px;
    margin-top: 20px;
}

/* Affichage des informations météo */
.weather-info {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 400px;
    margin-top: 20px;
    margin-top: 20px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.1);

}

.weather-info h2 {
    color: #FFA500;
    font-size: 30px;
    margin-bottom: 20px;
}

.weather-info p {
    font-size: 18px;
    margin: 10px 0;
}

.weather-info img {
    margin-top: 15px;
    max-width: 100px;
    height: auto;
}


a {
    color: #FFA500;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 40px;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

/* Responsivité */
@media (max-width: 600px) {
    form {
        width: 90%;
    }

    input[type="text"] {
        width: 100%;
    }

    button {
        width: 100%;
    }
}