<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Météo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Consulter la Météo</h1>
    <form method="post">
        <input type="text" name="city" placeholder="Nom de la ville" required>
        <button type="submit">Rechercher</button>
    </form>
    
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    
    {% if weather %}
        <h2>Météo à {{ weather.city }}</h2>
        <p><strong>Température: </strong> {{ weather.temperature }} °C</p>
        <p> <strong>Humidité: </strong>  {{ weather.humidite }} %</p>
        <p> <strong>Description :</strong> {{ weather.description }}</p>
        <img src="http://openweathermap.org/img/wn/{{ weather.icon }}.png" alt="Météo">
    {% endif %}
    
    <a href="{{ url_for('history') }}">Voir l'historique</a>
    
    <footer>
        <div>2024 tous droits réservés.</div>
    </footer>
</body>
</html>